/* ==============================================================
		colours
============================================================== */

$primaryColor: #333;
$secondaryColor: #333;

/* ==============================================================
		responsive
============================================================== */

/* 
Desktop-first fixed breakpoints. Example:

@include break(laptop) {
	// laptop styles
}

*/
@mixin break($point) {
	@if $point == laptop {
		@media (max-width: 1100px) { @content; }
	}
	@else if $point == tablet {
		@media (max-width: 900px) { @content; }
	}
	@else if $point == phone {
		@media (max-width: 480px)  { @content; }
	}
}

/* 
Desktop-first custom breakpoint. Example:

@include break(400px) {
	// laptop styles
}

*/
@mixin custombreak($point) {
    @media all and (max-width: $point) { @content; }
}

/* ==============================================================
		grid settings
============================================================== */

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters